/* Declare heights because of positioning of img element */
/*.carousel-item {
  height: 50rem;
}*/

/*@media (min-width: 575.98px) and (min-width: 576px) {
  /* Bump up size of carousel content 
  .carousel-item {
    height: 34rem;
  }
}*/

.carousel-item {
  height: calc(100vh - 130px); /* Full height of viewport */
}

.carousel-item img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}



/*@media (max-width: 768px) {
  .carousel-caption {
    font-size: 0.875rem;
    bottom: 0.5rem;
  }
  .carousel-item {
    height: calc(100vh - 130px);
  }
}

@media (min-width: 1200px) {
  .carousel-item {
    height: calc(100vh - 150px);
  }
}